@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
body{
  background-color: #FAFBFC;
}
.selected{
  border-bottom: 4px solid #8DD3BB;
}
section{
  width: 75%;
}
#jomumuimg{
  float: right; height: 200px; width: auto;
}
#input1{
  padding: 8px; border: 1px solid white; border-radius: 5px;
}
#send{
  padding: 8px; background-color: #000; color: white; border: 1px solid black; border-radius: 5px;
}
#dropdownmenu{
  position: absolute;
  top: 4.5rem;
  right: 12rem;
  
}
#flightsimage{
  z-index: -1;
  object-fit: cover;
  object-position: left top;
  height: 80vh;
}
#herocontainer{
  background-image: url('./assets/rocker-sta-RSYBi_1fhfM-unsplash.jpg');
  background-position: top;
  background-size: cover;
}
#herotext{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.623) 0%, rgba(198,235,242,0) 100%);
}
.theeffect{
  position: absolute;
  top: 20%;
  left: 12%;
}
.mynicefont{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;
  font-style: normal;
}
#myheroform{
  position: absolute;
  left: 12%;
  bottom: -10%;
}
#myheroform > fieldset{
  border: 1px solid #79747E;
}
input{
  padding: 12px;
}
input:focus{
  outline: none;
}
fieldset {
border: #79747E 1px solid;
}
#cardcontainer> div:nth-of-type(1){
  background-image: url(./assets/melbourne.avif);
  background-position: top;
  background-size: cover;
}
#cardcontainer> div:nth-of-type(2){
  background-image: url(./assets/paris2.avif);
  background-position: bottom;
  background-size: cover;
}
#cardcontainer> div:nth-of-type(3){
  background-image: url(./assets/london.avif);
  background-position: left;
  background-size: cover;
}
#cardcontainer> div:nth-of-type(4){
  background-image: url(./assets/colombia.avif);
  background-position: center;
  background-size: cover;
}

#lastFlightSection>div:nth-of-type(2){
  background-image: url(./assets/div2.avif);
  background-position: center;
  background-size: cover;
}
#lastFlightSection>div:nth-of-type(3){
  background-image: url(./assets/div3.avif);
  background-position: center;
  background-size: cover;
}
#lastFlightSection>div:nth-of-type(4){
  background-image: url(./assets/div4.avif);
  background-position: center;
  background-size: cover;
}
#lastFlightSection>div:nth-of-type(5){
  background-image: url(./assets/div5.avif);
  background-position: center;
  background-size: cover;
}
#selectioncard{
  position: absolute;
  bottom:  -40%;

}
.floatingcard{
  z-index: 500;
  position: absolute;
  left: -75%;
}


